
:root {
  /* colors */
  --brand-color: #EF5F4C;

  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff56;

  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  /* tipograph */
  --font-family: "Poppins", sans-serif;

  --heading1: 800 2rem/1.25 var(--font-family);
  --paragraph-md: 400 .875rem/1.7 var(--font-family);
  --paragraph-sm: 400 .75rem/1.7 var(--font-family);

  --fw-sm: 400;
  --fw-md: 600;
  --fw-xl: 800;
}

/* css reset */
* { 
  padding: 0;
  margin: 0;
  text-decoration: 0;
  font: inherit; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header, .about {
  background-color: var(--surface-color);
}

html {
  font: var(--paragraph-md);
  color: var(--text-color-secondary);
}
