#header-content {
  background-color: var(--surface-color);

}

#nav-main {
  display: flex;
  align-items: center;

  padding: 20px 32px;

  font: var(--text);
  color: var(--text-color-secondary);
}

#nav-main ul {
  text-decoration: none;
  list-style: none;

  display: flex;
  align-items: center;
  gap: 24px;
}

#nav-main img { 
  margin-right: auto;

}

#sm-profile {
  max-width: 40px;
  max-height: 40px;
}